<template name="nav">
  <nav class="blue-grey darken-3">
    <div class="container">
      <div class="nav-wrapper">
        <a href="{{pathFor 'home'}}" class="brand-logo">
          <img alt="UserAccounts" width="25" height="25" src="/imgs/ua-logo.png">
        </a>
        <ul id="nav-mobile" class="right side-nav fixed">
          <li class="{{isActiveRoute regex='home'}}"><a href="{{pathFor 'home'}}">Home</a></li>
          <!-- {{#if currentUser}} -->
          <li class="{{isActiveRoute regex='groups'}}">
            <a href="{{pathFor 'groups'}}">Groups</a>
          </li>
          <li class="{{isActiveRoute regex='invites'}}">
            <span class='badge'>{{invitesCounter}}</span>
            <a href="{{pathFor 'invites'}}">Invites</a>
          </li>
          <!-- {{/if}}  -->
          <li>{{> loginButtons }}</li>
        </ul>
        <a class="button-collapse" href="#" data-activates="nav-mobile"><i class="mdi-navigation-menu"></i></a>
      </div>
    </div>
  </nav>
</template>
